@font-face {
    font-family: 'mehr nastaliq web';
    src: url('https://shaplooka.github.io/chand/MehrNastaliqWeb.ttf');
    src: url('https://shaplooka.github.io/chand/MehrNastaliqWeb.woff2') format('woff2'),
                  url('https://shaplooka.github.io/chand/MehrNastaliqWeb.woff') format('woff'),
         
    font-weight: normal;
    font-style: normal;

}
