@font-face {
    font-family: 'Mehr Nastaliq web';
    src: url('https://shaplooka.github.io/chand/Mehr-Nastaliq.ttf');
   
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #f9f9f9;
    font: normal 1em / 1.5  sans-serif;
 }

h1 {
    font-family: 'Mehr Nastaliq web' ;
    font-weight: normal;
    text-align: center;
}
